// authored by zhang chi  blog  http://feleventh.github.io
// tag normalize

//color
$color-bg: rgb(244,244,244);
$blue: rgb(2,124,223);
$panel-red: rgb(255,66,66);
$panel-yellow: rgb(255,172,19);
$panel-green: rgb(131,196,78);
$panel-olive: rgb(0,192,165);
$cell-border: 1px solid rgb(238,238,238);
$color-border: rgb(230,230,230);
$c-f-n: #666;
$c-f-b: #333;

.hide{
  display: none !important;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  color: $c-f-n;
  position: relative;
  font-family: 'microsoft yahei';
  width: 100%;
  height: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #027cdf;
}
h1,h2,h3,h4,h5,p{
  margin: 0;
}

// common style
.main-wrap {
  margin: 0 auto;
  max-width: 640px;
  padding: 20px 0;
  background: #eee;
  font-size: 14px;
  line-height: 20px;
}
.header{
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.card{
  max-width: 600px;
  margin: 0 20px 20px;
  background: #fff;
  box-shadow: 0 10px 6px -6px #aaa;
  .card-header{
    font-size: 20px;
    color: $c-f-b;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid $color-border;
  }
  .card-content{
    padding: 10px;
  }
}

.parallelogram-simple{
  width: 200px;
  height: 100px;
  transform-origin: 0 0;
  transform: skew(30deg);
  background: $panel-olive;
}

.modal{
  width: 673px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
  .modal-close{
    position: absolute;
    top: 0;
    right: 5px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .modal-header{
    color: #333;
    width: 80%;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
  }
  .modal-body{
    margin: 10px;
  }
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  height: 1000px;
  background: rgba(33,33,33,.4);
  z-index: 8;
}