.parallelogram-simple {
  width: 200px;
  height: 100px;
  transform-origin: 0 0;
  transform: skew(30deg);
  background: #00c0a5;
}

.parallelogram-more{
  width: 120px;
  height: 200px;
  transform-origin: 0 0;
  transform: skew(30deg);
  background: #00c0a5;
  position: relative;
  overflow: hidden;
  &>*{
    transform-origin: 0 0;
    transform: skew(-30deg);
    position: relative;
  }
  p{
    width: 80px;
    left: 30px;
  }
}

.parallelogram-page{
  &::after{
    display: block;
    content: '';
    clear: both;
  }
  a{
    display: block;
    float: left;
    height: 20px;
    margin-right: 10px;
    text-decoration: none;
    background: #00c0a5;
    &.active, &:hover{
      color: #fff;
    }
  }
  div{
    float: left;
  }
  .middle-page{
    width: 40px;
    transform-origin: 0 0;
    transform: skew(30deg);
    position: relative;
    span{
      display: block;
      transform-origin: 0 0;
      transform: skew(-30deg);
      position: relative;
      left: 22px;
    }
  }
  .first-page{
    width: 30px;
    position: relative;
    margin-right: 12px;
    span{
      display: block;
      text-align: center;
    }
    &::after{
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      right: -12px;
      border-top: 10px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 10px solid #00c0a5;
      border-left: 6px solid #00c0a5;
    }
  }
  .next-page{
    width: 40px;
    position: relative;
    margin-left: 12px;
    &::before{
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: -12px;
      border-top: 10px solid #00c0a5;
      border-right: 6px solid #00c0a5;
      border-bottom: 10px solid transparent;
      border-left: 6px solid transparent;
    }
    span{
      display: block;
      text-align: center;
    }
  }
  .last-page{
    width: 40px;
    span{
      display: block;
      text-align: center;
    }
  }
}