.triangle {
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid green; }

.caret-1 {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 20px;
  vertical-align: middle;
  border-top: 4px solid red;
  border-right: 4px solid green;
  border-left: 4px solid blue; }

.caret-2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  vertical-align: middle;
  border-top: 20px solid red;
  border-right: 20px solid green;
  border-left: 20px solid blue; }

.caret-3 {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  vertical-align: middle;
  border-top: 30px solid red;
  border-right: 30px solid green;
  border-left: 30px solid blue; }

.caret-4 {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 20px;
  vertical-align: middle;
  border-top: 40px solid red;
  border-right: 40px solid green;
  border-left: 40px solid blue; }

.example {
  margin-bottom: 20px;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 20px; }
  .example::after {
    content: '';
    clear: both;
    display: block; }

.dialog-box-1 {
  background-color: #00b300;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  float: left;
  margin-left: 20px;
  color: #fff; }
  .dialog-box-1::after {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: -10px;
    border-top: 10px solid transparent;
    border-right: 18px solid #00b300;
    border-bottom: 10px solid transparent; }

.dialog-box-2 {
  border: 3px solid #00b300;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  float: right;
  margin-right: 20px; }
  .dialog-box-2::before {
    display: block;
    position: absolute;
    content: '';
    top: 10px;
    right: -13px;
    border-top: 6px solid transparent;
    border-left: 10px solid #00b300;
    border-bottom: 6px solid transparent; }
  .dialog-box-2::after {
    display: block;
    position: absolute;
    content: '';
    top: 6px;
    right: -7px;
    border-top: 10px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 10px solid transparent; }

.caret, .pyramid .layer-1::before, .pyramid .layer-1::after, .pyramid .layer-2::before, .pyramid .layer-2::after, .pyramid .layer-3::before, .pyramid .layer-3::after, .progress .stage-1::after, .progress .stage-5::before, .progress .stage-2::after, .progress .stage-2::before, .progress .stage-3::after, .progress .stage-3::before, .progress .stage-4::after, .progress .stage-4::before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute; }

.pyramid {
  width: 300px;
  margin: 0 auto; }
  .pyramid > * {
    background: #ffef79;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    line-height: 30px; }
  .pyramid .layer-1 {
    width: 100px; }
    .pyramid .layer-1::before {
      top: 0;
      left: 0;
      border-top: 25px solid #fff;
      border-left: 25px solid #fff;
      border-bottom: 25px solid transparent;
      border-right: 25px solid transparent; }
    .pyramid .layer-1::after {
      top: 0;
      right: 0;
      border-top: 25px solid #fff;
      border-right: 25px solid #fff;
      border-bottom: 25px solid transparent;
      border-left: 25px solid transparent; }
  .pyramid .layer-2 {
    width: 200px; }
    .pyramid .layer-2::before {
      top: 0;
      left: 0;
      border-top: 25px solid #fff;
      border-left: 25px solid #fff;
      border-bottom: 25px solid transparent;
      border-right: 25px solid transparent; }
    .pyramid .layer-2::after {
      top: 0;
      right: 0;
      border-top: 25px solid #fff;
      border-right: 25px solid #fff;
      border-bottom: 25px solid transparent;
      border-left: 25px solid transparent; }
  .pyramid .layer-3 {
    width: 300px; }
    .pyramid .layer-3::before {
      top: 0;
      left: 0;
      border-top: 25px solid #fff;
      border-left: 25px solid #fff;
      border-bottom: 25px solid transparent;
      border-right: 25px solid transparent; }
    .pyramid .layer-3::after {
      top: 0;
      right: 0;
      border-top: 25px solid #fff;
      border-right: 25px solid #fff;
      border-bottom: 25px solid transparent;
      border-left: 25px solid transparent; }

.progress {
  width: 310px;
  margin: 30px auto 0;
  height: 40px;
  line-height: 40px; }
  .progress > * {
    float: left;
    position: relative;
    margin-right: 20px; }
  .progress .stage-1 {
    background: #ffef79;
    padding-left: 5px;
    color: #333; }
    .progress .stage-1::after {
      top: 0;
      right: -11.55px;
      border-left: 11.55px solid #ffef79;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
  .progress .stage-5 {
    background: #796b00;
    padding-left: 15px;
    padding-right: 5px;
    color: #cccccc; }
    .progress .stage-5::before {
      top: 0;
      left: 0;
      border-left: 11.55px solid #fff;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
  .progress .stage-2 {
    background: #ffe313;
    color: #707070;
    padding-left: 15px; }
    .progress .stage-2::after {
      top: 0;
      right: -11.55px;
      border-left: 11.55px solid #ffe313;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
    .progress .stage-2::before {
      top: 0;
      left: 0;
      border-left: 11.55px solid #fff;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
  .progress .stage-3 {
    background: #dfc400;
    color: #8f8f8f;
    padding-left: 15px; }
    .progress .stage-3::after {
      top: 0;
      right: -11.55px;
      border-left: 11.55px solid #dfc400;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
    .progress .stage-3::before {
      top: 0;
      left: 0;
      border-left: 11.55px solid #fff;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
  .progress .stage-4 {
    background: #ac9700;
    color: #adadad;
    padding-left: 15px; }
    .progress .stage-4::after {
      top: 0;
      right: -11.55px;
      border-left: 11.55px solid #ac9700;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }
    .progress .stage-4::before {
      top: 0;
      left: 0;
      border-left: 11.55px solid #fff;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; }

/*# sourceMappingURL=triangle.css.map */
